html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer" ;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem ;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: rgb(214, 150, 31);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a{
   color: black;
   font-size: 2.5rem;
   font-weight: bold;
   text-decoration: none;
}
.header-link a{
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.header-link a:hover {
  color: white;
}

.main{
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: rgb(226, 153, 17);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{
 color: white;
}


/*  Tela Inicial*/

.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.produtos li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid ;
}
.produto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.produto-nome{
  font-size: 2rem;
  font-weight: bold;
}
.produto-marca{
  font-size: 1.2rem;
  color: black;
}
.produto-preco{
  font-size: 2rem;
  font-weight: bold;
}
.produto-imagem{
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating{
  margin-bottom: 1rem;
}

/*  Barra Lateral */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
  .sidebar.open{
      transform: translateX(0);
  }
  .sidebar-close-button{
      border-radius: 50%;
      border: .1rem #000000 solid;
      width: 3rem;
      height: 3rem;
      padding: .5rem;
      font-size: 2rem;
      padding-top: 0;
      cursor: pointer;
      position: absolute;
      right: .5rem;
      top: 1.5rem
    }